        * {
            margin: 0px;
            padding: 0px;
            font-family: cursive;
            text-decoration: none;
        }

        body{ 
            
        }

        div.header {
             color: deeppink;
             background-color: rgb(239, 248, 250);
             max-height: 100px;
             display: flex;
        }

        h1 {
            padding: 30px 60px 10px; 
               
        }
        nav {
            width: 60%;
            display: flex;
            justify-content: right;
            align-items: center;
        }

        nav h5.banner {
             padding: 5px;
             opacity:0;
             transform: translateX(10px);
             
        }

        nav h5.load{
            transform: translateX(-10px);
            opacity: 1;
            transition: transform 0.7s ease-in-out 0.2s,
                        opacity 0.9s ease-in-out 0.3s;
        }

        .filltask {
            position: relative;
        }

        .filltask #task-button {
            padding: 7px 24px 13px 23px;
            font-size: xx-large;
            margin-left: 5px;
            border-radius: 50%;
            color: white;
            background-color: deeppink;
            font-weight: bolder;
            border: none;
            transition: transform 0.7s ease-in-out;
        }

        .filltask #task-button:hover {cursor: pointer;}
        
        .filltask.active #task-button {
            transform: rotate(-90deg);
        }
        .filltask #task-button.rotate{
            transform: rotate(-270deg);
        }
        

        form {
            position:absolute;
            background-color: white;
            border-radius: 4px;
            padding: 15px;
            right: -150%;
            top: calc(100% + 20px);
            box-shadow: 0 7px 5px 2px rgb(239, 248, 250);
            opacity: 0;
            pointer-events: none;
            transform: translateY(-10px);
            transition-property: opacity, transform;
            transition-duration: 0.24s;
            transition-timing-function: ease-in-out;}

        .filltask.active > form {
            opacity: 1;
            pointer-events:auto;
            transform: translateY(12px);
           
        }

        form input {
            padding: 5px;
            outline: none;
            border: none;
            background-color:rgb(239, 248, 250);
            border-radius: 3px;
        }

        form div {
            margin-bottom: 5px;
            display: flex;
            flex-direction:column;
        }

        form p#error {
            font-size: xx-small;
            font-style: italic;
            color: red;
            font-family:Verdana, Geneva, Tahoma, sans-serif;  
            font-weight: bolder;
        }

        form button {
            background-color:deeppink ;
            color: white;
            padding: 5px 20px;
            position: relative;
            top: 10px;
            border: none;
            border-radius: 5px;
            font-weight: bolder;
            cursor: pointer;
        }


        .vibrator{
            transform: translateX(3px);
        }

        .ticked {
            opacity: 0.5;
        }

        .main {
            padding: 20px;
            display: flex;
            justify-content: left;
            color: deeppink;
            flex-direction: column;
        }

        .task-bar {height: fit-content;;
            width: fit-content;
            display: flex;
            align-items: center;
            padding-left: 50px;
            margin-bottom: 7px;
        }

        .task-bar .task{
            padding: 15px;
            width: 550px;
            height: 55px;
            display: flex;
            flex-direction:column ;
            justify-content: center;
            background-color:rgb(239, 248, 250);
            margin-left: 8px;
        }

        .task div.spans{
            display: flex;
            justify-content: space-between;
            font-size: small;
            padding: 4px;
        }

        .task-bar .clear {padding:15px 8px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            margin-left: 8px;
            height: 55px;
            color: white;
            background-color: deeppink;
            font-weight: bold;
            cursor: pointer;
        }
        .task-bar .tick {padding: 15px 7px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            width: 50px;
            margin-left: 10px;
            height: 55px;
            color: white;
            background-color: deeppink;
            font-weight: bold;
            cursor: pointer;
        }

        div.status {
            position: fixed;
            top: 385px;
            left: 980px;
            width: 220px;
            padding: 15px;
            background-color:rgb(239, 248, 250);
            border-radius: 4px;
            border: 2px solid deeppink;
            /* height: fit-content;
            display: flex;
            flex-direction: column;
            justify-content: space-around; */
        }

        div.status h4 {
            padding: 1px;
            margin-bottom: 3px;
            border-bottom: 3px solid deeppink;
        }

        span#timer {
            background-color: black;
            color: white;
            padding: 3px;
            border-radius: 4px;
        }
        
        div.status div{
            background-color: black;
            color: white;
            padding: 3px;
            border-radius: 4px;
            margin-bottom: 8px;
        }